
@{
    ViewBag.Title = "Index";
}
<br />
<div class="divIndex">
    <div>
        <h2 class="text-center h3Students bcolor customBorder"><strong> Profesori</strong></h2>
    </div>
    <br /><br />
    <div style="overflow-y:auto; height:30vw;" class="panelIndex">
        @foreach (var prof in ViewBag.Professors)
        {
            <div class="panel panel-default bcolor divBlocks customBorder text-center">
                <div class="panel-body">
                    <strong style="font-style: italic;">Prof. </strong>
                    <strong>@prof.FirstName</strong>
                    <strong>@prof.LastName</strong>
                    <br />
                    <span class="label label-success" style="background-color: #7d5424;">@prof.DidacticDegree</span>
                    <br />
                </div>
                <div class="panel panel-footer panelFooter">
                    <a class="btn btn-success btn btn-sm" style="background-color: #7d5424; color: white" href="/Professors/Show/@prof.ProfessorId">Detalii profesor</a>
                </div>
            </div>
        }

    </div>
</div>