@model PracticaV1.Models.Professor
@{
    ViewBag.Title = "Show";
}
<div>
    <br />
    <br />
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-info btn-sm" href="/Professors/Index" style="background-color: #7d5424; color: white;">Inapoi</a>
    }
    else
    {
        <a class="btn btn-info btn-sm" href="/Courses/Index" style="background-color: #7d5424; color: white;">Inapoi</a>
    }
    <br /> <br />
</div>

<div class="panel panel-default customBorder bcolor showEntity">
    <div class="panel-body text-center">
        <strong>Prof. </strong>
        <strong>@Model.FirstName</strong>
        <strong>@Model.LastName</strong>
        <br />
        <span class="label label-success" style="background-color: #7d5424;">Degree: @Model.DidacticDegree</span>
        <br />
    </div>
</div>

<div class="">
    <div class="panel-heading text-center customBorder bcolor showEntity" style="margin-bottom: 0px !important;"> <strong> Cursuri predate </strong> </div>
    <div class="panel-body showEntity">
        @foreach (var course in Model.Courses)
        {
        <div  class="divList customBorder bcolor text-center" style="margin-bottom: 5%">
            <p style="padding-top: 3%"><strong>@course.CourseName</strong>  </p>
            <a class="btn btn-info btn-sm" href="/Courses/Show/@course.CourseId" style="background-color: #7d5424; color: white;">Vezi curs</a>
            <hr />
        </div>
        }

    </div>
</div>