
@{
    ViewBag.Title = "Index";
}
<br />
<div class="divIndex">
    <h2 class="text-center h3Students bcolor customBorder"> <strong> Studenti</strong> </h2>
    <br />
    <div style="overflow-y:auto; height:33vw" class="panelIndex">
        @foreach (var student in ViewBag.Students)
        {
            <div class="panel panel-default bcolor divBlocks customBorder text-center">
                <div class="panel-body">
                    <strong> Student:  </strong>
                    <strong>@student.FirstName</strong>
                    <strong>@student.LastName</strong>
                    <br />
                    <span class="label label-success" style="background-color: #7d5424;">An de studiu:  @student.YearOfStudy</span>
                    <br />
                </div>
                <div class="panel panel-footer panelFooter">
                    <a class="btn btn-success btn btn-sm" style="background-color: #7d5424; color: white" href="/Students/Show/@student.StudentId">Detalii student</a>
                </div>
            </div>
        }

    </div>
</div>
