
@{
    ViewBag.Title = "Index";
}

<br /><br />

<div class="divIndex" style="width: 50%; margin: auto" >
    <br />
    @foreach (var student in ViewBag.Students)
    {
        <div class="panel panel-default customBorder divList bcolor text-center">
            <div class="panel-body">
                <strong> Student:  </strong>
                <strong>@student.FirstName</strong>
                <strong>@student.LastName</strong>
                <br />
                <span class="label label-success" style="background-color: #7d5424;">An de studiu:  @student.YearOfStudy</span>
                <br />
            </div>
            <div class="panel panel-footer panelFooter">
                <a class="btn btn-success btn btn-sm" style="background-color: #7d5424; color: white" href="/Students/Show/@student.StudentId">Detalii student</a>
            </div>
        </div>
    }

</div>
